.hero{
    padding: 200px;
   background:linear-gradient(100deg, #a55faa,#e1ffea22 60%);
   height: 80vh;
   width: 200vh;
  display: flex;
   
}
.hero-left{
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content:  center;
   gap: 20px;
   padding-left: 180px;
   list-style: 1.1;

}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 500;
}
.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 600;
}
.hand-icon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.hand-icon img{
    width: 85px;
    
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    width: 400px;
    height: 100px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 400;
}
.hero-latest-btn img{
    height: 100px;
    width: 100px;
    }

    .hero-right{
        flex : 1;
        display: flex;
        align-items: center;
       justify-content: center;
    }
    
    
   

 