.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.footer-logo{
   display: flex;
   align-items: center;
   gap: 10px;
    }
    .footer-logo p{
        color: #383838;
        font-size: 40px;
        font-weight: 700;
    }

.footer-social-icons{
  display: flex;
  flex-direction: column;
  gap: 40px;
  
    }
 .footer-icons-container{
        padding: 10px;
        padding-bottom: 6px;
        background: #fbfbfb;
        border: 1px solid #ebebeb;
       
    }  
    .footer-social-icons img{
        height: 100px;
        width: 120px;
      border-radius: 50px;
        margin: 10px;
        border: 10px;
         }
    
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 100%;
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 20px;
    
}
.footer-copyright hr{
    width: 150%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
.footer-copyright p{
    
    align-items: center;
    height: 3px;
   
}